In [1]:
print('Hello!')

Hello!

In [2]:
import pandas as pd
dataFrame = pd.read_csv('LondonBikeJourney-Aug2023.csv')
dataFrame

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas as pd
dataFrame = pd.read_csv('LondonBikeJourney-Aug2023.csv')
dataFrame

ModuleNotFoundError: No module named 'pandas'

In [1]:
import pandas as pd
dataFrame = pd.read_csv('LondonBikeJourney-Aug2023.csv')
dataFrame

ModuleNotFoundError: No module named 'pandas'

In [1]:
import pandas as pd
dataFrame = pd.read_csv('LondonBikeJourney-Aug2023.csv')
dataFrame

FileNotFoundError: [Errno 2] No such file or directory: 'LondonBikeJourney-Aug2023.csv'

In [2]:
import pandas as pd
dataFrame = pd.read_csv('nyc-east-river-bicycle-counts.csv')
dataFrame

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01 00:00:00,2016-04-01 00:00:00,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03 00:00:00,2016-04-03 00:00:00,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04 00:00:00,2016-04-04 00:00:00,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05 00:00:00,2016-04-05 00:00:00,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471
...,...,...,...,...,...,...,...,...,...,...,...
205,205,2016-04-26 00:00:00,2016-04-26 00:00:00,60.1,46.9,0.24,1997.0,3520,4559.0,2929.0,13005
206,206,2016-04-27 00:00:00,2016-04-27 00:00:00,62.1,46.9,0,3343.0,5606,6577.0,4388.0,19914
207,207,2016-04-28 00:00:00,2016-04-28 00:00:00,57.9,48.0,0,2486.0,4152,5336.0,3657.0,15631
208,208,2016-04-29 00:00:00,2016-04-29 00:00:00,57.0,46.9,0.05,2375.0,4178,5053.0,3348.0,14954
209,209,2016-04-30 00:00:00,2016-04-30 00:00:00,64.0,48.0,0,3199.0,4952,5675.0,3606.0,17432